/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body{
    font-family: 'Montserrat', sans-serif;
    
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}

/*UTILITIES*/
.container{
    max-width: 1400px;
    margin: 0 auto;
}


.text-orange{
    color: #F7972E;
}
.text-gray{
    opacity: 0.3;
}

.bg-orange{
    background-color: #F7972E;
    color: white;
}

.btn{
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
}
.kcal{
    background-color: #7B69A2;
    color: white;
    padding: 4px;
    border-radius: 5px;
}
/*HEADER*/
header{
    text-align: center;
    font-family: 'Nerko One', cursive;
    color: #FF9614;
    text-shadow: 1px 1px 1px gray;
    padding: 10px 0;
    font-size: 1.5rem;
}

/*MAIN*/
main{
    background-color: #F6F5F3;
    padding: 15px;
}

.titolo-main{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-size: 2rem;
    font-weight: 800;
    color: #4E3969;
}
.rate span{
    margin-right: 10px;
}


/*INIZIO LA SCHEDA DELLA RICETTA*/
.pastry-summary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 15px lightgray;
}

.card-video, .card-info{
    flex-basis: 100%;
}

iframe{
    width: 100%;
    display: block;
}


/*LAVORO SULLA CARD INFO*/
.card-info{
    background-color: white;
    padding: 30px;
}

.info-box{
    background-color: #F6F5F9;
    padding: 15px;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.top-info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-info-box p:last-child{
    font-size: 1.2rem;
    font-weight: 700;
}

hr{
    margin: 10px 0;
    
}

.info-summary{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

/*SEZIONE SOCIAL*/
.social-section{
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}

.btn.btn-social{
    background-color: white;
    box-shadow: 0 0 15px lightgray;
    height: 50px;
    padding: 15px 20px;
}

.social-section img{
    max-height: 100%;
    vertical-align: middle;    
}

.label-social{
    color:black;
    display: none;
    vertical-align: middle;
}

/*BANNER*/
.adv-section{
    display: none;
}

/*SEZIONE RECIPE*/
.presentation h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.line{
    border: 1px solid currentColor;
    width: 65px;
    margin: 20px 0;
}

.presentation img{
    /*float:left;*/
    display: block;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 0 15px lightgray;
}
.presentation p{
    line-height: 1.5;
    padding-bottom: 30px;
}

/*FOOTER*/
footer{
    background-color: #7C69A4;
    font-size: small;
    text-align: center;
    color: white;
    border-bottom: 1px solid currentColor;

    padding: 30px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    line-height: 2;
}

footer a{
    color: white;
    text-decoration: underline;
}
.col-links ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}